{% extends 'base.html' %}
{% block title %}Betting Table{% endblock %}

{% block content %}
<h1 class="display-2 mt-0">Place Your Bets</h1>

<div class="container">
    <div class="row">

        {% for game in all_games %}
        <div class="card bets">
            <span class="tipoff-time mt-2">Datetime Here</span>
            <span class="game-id">#{{ game.game_id }}</span>
            <span class="away-team">Minnesota Timberwolves</span>
            <i class="fa-solid fa-at"></i>
            <span class="home-team">{{ game.home_team }}</span>

            <form action="">
                <span class="spread-header">Spread
                    <div class="bet-box">
                        <p class="box-top">{{ game.away_PS }}</p>
                        <p class="box-bottom">{{ game.away_PS_price }}</p>
                    </div>
                    <div class="bet-box">
                        <p class="box-top">{{ game.home_PS }}</p>
                        <p class="box-bottom">{{ game.home_PS_price }}</p>
                    </div>
                </span>
            </form>

            <form action="">
                <span class="money-header">Money Line
                    <div class="bet-box">
                        {% if game.away_ml_price > 0 %}
                        <p class="box-text">+{{ game.away_ml_price }}</p>
                        {% else %}
                        <p class="box-text">{{ game.away_ml_price }}</p>
                        {% endif %}
                    </div>
                    <div class="bet-box">
                        {% if game.home_ml_price > 0 %}
                        <p class="box-text">+{{ game.home_ml_price }}</p>
                        {% else %}
                        <p class="box-text">{{ game.home_ml_price }}</p>
                        {% endif %}
                    </div>
                </span>
            </form>


            <form action="">
                <span class="total-header">Total
                    <div class="bet-box">
                        {% if game.over_under != 'OFF' %}
                        <p class="box-top">U{{ game.over_under }}</p>
                        <p class="box-bottom">{{ game.over_under_price }}</p>
                        {% else %}
                        <p class="box-text">OFF</p>
                        {% endif %}
                    </div>
                    <div class="bet-box">
                        {% if game.over_under != 'OFF' %}
                        <p class="box-top">O{{ game.over_under }}</p>
                        <p class="box-bottom">{{ game.over_under_price }}</p>
                        {% else %}
                        <p class="box-text">OFF</p>
                        {% endif %}
                    </div>
                </span>
            </form>

        </div>
        {% endfor %}
    </div>
    


</div>
</div>





{% endblock %}